<% if user_signed_in? %>
  <%= link_to 'new post', new_post_path %>
<% end %>

<% if @posts.present? %>
<table>
  <tr>
    <th>posts</th>
    <th>weblink</th>
    <th>description</th>
    <th>dislike</th>
    <th>likes</th>
      <th>vote</th>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><a href="https://guides.rubyonrails.org" target="_blank"><%= post.weblink %></a></td>
    <td><%= post.description %></td>
    <td class='js-dislikes'><%= post.dislike %></td>
    <td class='js-likes'><%= post.like %></td>
    <td class='js-vote'><%= post.vote %></td>
    <td><%= link_to 'show', post_path(post) %></td>

    <% if user_signed_in? %>
      <td><%= link_to 'like', post_like_path(post), remote: true %></td>
      <td><%= link_to 'dislike', post_dislike_path(post), remote: true %></td>
      <td><%= link_to 'comment', new_post_comment_path(post) %></td>
      <td><%= link_to 'delete', post_path(post), method: :delete, data: { confirm: "are yuh sure ?"} %></td>
    <% end %>
  <% end %>
  </tr>
</table>
<% end %>
<%= paginate @post_paginator %>
